http://ubrato.ru:8001 {
    reverse_proxy http://cdn:8000
}

http://ubrato.ru:8002 {
    reverse_proxy http://backend-typesense-web:8000
}

http://ubrato.ru:8108 {
    reverse_proxy http://backend-typesense:8108
}

http://* {
    redir https://{host}{uri}
}

https://api.ubrato.ru {
    reverse_proxy http://backend:8000
}

# https://cdn.ubrato.ru {
#     reverse_proxy http://cdn:8000
# }

# https://search.ubrato.ru {
#     reverse_proxy http://backend-typesense-web:80
# }

https://ubrato.ru {
    handle /v1/* {
        reverse_proxy http://backend:8000
    }
    handle {
        basicauth /* bcrypt {
            admin $2a$14$i8CNgvH3Gf.fwwWwzh.Rsu3Zc0zc5gRjTqaR9jB6VZSvCQc2L6HGu
        }

        reverse_proxy http://front:80
    }
}
