{
    log {
        level INFO
        output stdout
        format json
    }
}

http://ubrato.ru:8002 {
    reverse_proxy http://backend-typesense-web:80
    log
}

http://* {
    redir https://{host}{uri}
    log
}

https://api.ubrato.ru {
    reverse_proxy http://backend:8000
    log
}

https://cdn.ubrato.ru {
    reverse_proxy http://cdn:8000
    log
}

https://search.ubrato.ru {
    reverse_proxy http://backend-typesense:8108
    log
}

https://ubrato.ru {
    handle /v1/* {
        reverse_proxy http://backend:8000
    }
    handle {
        basicauth /* bcrypt {
            admin $2a$14$i8CNgvH3Gf.fwwWwzh.Rsu3Zc0zc5gRjTqaR9jB6VZSvCQc2L6HGu
        }

        reverse_proxy http://front:80
    }
    log
}
